extends layout

block content
	.main.container
		.row
			.col-md-6.col-md-offset-3
				div.text-center
					h1 Bus Reservation System
				form(method='POST' action='/login')
					div.form-group
						label(for='email') Email
						input.form-control(type='email' id='email' name='email' placeholder='Email' required=true)
					div.form-group
						label(for='pass') Password
						input.form-control(type='password' id ='pass' name='pass' placeholder='Password' required=true)
					div.text-center
						button.btn.btn-primary(formaction='/login' type='submit') Log In
						button.btn.btn-warning(formaction='/signup' type='submit') Sign Up
						